{% extends "::base.html.twig" %}

{% block title %}ContactBoxBundle:Person:new{% endblock %}

{% block body %}
<h1>Welcome to the Person:new page</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
